<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    .navbar {
        background-color: #333;
        overflow: hidden;
        display:flex;
        justify-content: start;
        align-items: center;
    }

    .navbar a {
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }



    @media (max-width: 425px) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    .nav-links a {
        text-align: center;
        padding: 10px;
        width: 100%;
    }
}




    /* Login container styling */
    .login-container {
        max-width: 380px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f2f2f2;
        text-align: center;
        border-radius:7px;
    }

    .login-container h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .login-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-container label {
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 45px;
        text-align: center;
    }

    .login-container button {
        background-color: rgb(52, 122, 252);
        color: white;
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 45px;
    }

    .login-container a {
        background-color: #4CAF50;
        color: white;
        width: 30%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }



    .login-container button:hover {
        background-color: rgb(43, 96, 195);
    }
    .login-container a:hover {
        background-color: #389d3c;
    }

    .login-container a {
        text-decoration: none;
        color: #333;
        margin-top: 10px;
        display: inline-block;
    }

    .login-container a:hover {
        text-decoration: underline;
        text-decoration: none;
    }

    .main{
        display: block;
        margin: auto;
    }
    .logo{
        height:40px;
        border-radius:50%;
    }
    h1{
        text-align:center;
        margin-top:40px;
        margin-bottom:40px;
    }
    h2{
        margin-top:1px;
        margin-bottom:1px;
    }
    </style>
</head>
<body>
    
    <div class="navbar">
        <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBrwkuniCAWPapvRKlKlU7wDq4ecsVvB4LBQ&s">
        <a href="/student">Students</a>
        <a href="/company">Company</a>
        <a href="/alumni">Alumni</a>
        <a href="/admin">Admin</a>
    </div>

    <h1>Training and placement cell IIT Patna</h1>
    <% if (locals.z) { %>
        <% if (z == 1) { %> 
            <div class="login-container">
                <h2>Student Login</h2>
                <form action="/student_login" method="POST">  
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button type="submit">Login</button>
                </form>
                <a href="/student_form" >register</a>
            </div>
        <% } else if (z == 2) { %> 
            <div class="login-container">
                <h2>Company Login</h2>
                <form action="/company_login" method="POST">
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button type="submit">Login</button>
                </form>
                <a href="/company_form" >register</a>
            </div>
        <% } else if (z == 3) { %> 
            <div class="login-container">
                <h2>Alumni Login</h2>
                <form action="/alumni_login" method="POST">
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button type="submit">Login</button>
                </form>
                <a href="/alumni_form" >register</a>
            </div>
        <% } else if (z == 4) { %> 
            <div class="login-container">
                <h2>Admin Login</h2>
                <form action="/admin_login" method="POST">                   
                    <input type="text" id="email" name="email" placeholder="Email" required>               
                    <input type="password" id="password" name="password" placeholder="password" required>
                    <button type="submit">Login</button>
                </form>
                <a href="/admin_form" >register</a>
            </div>
        <% } %>
    <% }else{%>
        <img class="main" src="https://www.iitp.ac.in/images/photo/incubation-center-top.jpg" >
    <%}%>


</body>
</html>