<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Portal</title>
    <!--Adding External CSS-->
    <link rel="stylesheet" href="/styles/home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Favicon-->
    <link rel="icon" href="assets/logo2.png">
    <!-- Bootstrap CSS for Carousel-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Font Family named  Noto Serif Old Uyghur-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&display=swap" rel="stylesheet">
    
    <!-- Tailwind CSS for Nav bar -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


    

</head>
<body>
    
<!--New Nav bar-->
<nav class="bg-gray-800">
    <div class="mx-auto max-w-full px-0 sm:px-0 lg:px-0"> <!-- Adjusted here -->
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <a href="/"> <img class="h-10 w-auto"
                        src="/assets/logo1.png"
                        alt="College logo"> </a>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a href="/student" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Students</a>
                        <a href="/company" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Company</a>
                        <a href="/alumni"  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Alumni</a>
                        <a href="/admin"   class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Admin</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="/student" 
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Students</a>
            <a href="/company"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Company</a>
            <a href="/alumni"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Alumni</a>
            <a href="/admin"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Admin</a>
        </div>
    </div>
</nav>

<!-- Script for mobile menu -->
<script>
    const menuButton = document.querySelector('[aria-controls="mobile-menu"]');
    const mobileMenu = document.getElementById('mobile-menu');

    menuButton.addEventListener('click', () => {
        const expanded = menuButton.getAttribute('aria-expanded') === 'true' || false;
        menuButton.setAttribute('aria-expanded', !expanded);
        mobileMenu.classList.toggle('hidden');
    });
</script>

<!--Navbar ends here-->


    <% if (locals.z) { %>
        <% if (z == 1) { %> 
            <h1 class="text-3xl font-bold text-black mt-10 mb-10">Training and placement cell IIT Patna</h1>
            <div class="login-container">
                <h2 class="text-2xl">Student Login</h2>
                <form action="/student_login" method="POST">  
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button class="glow-on-hover" type="submit">Login</button>
                </form>
            </div>
        <% } else if (z == 2) { %> 
            <h1 class="text-3xl font-bold text-black mt-10 mb-10">Training and placement cell IIT Patna</h1>
            <div class="login-container">
                <h2 class="text-2xl">Company Login</h2>
                <form action="/company_login" method="POST">
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button class="glow-on-hover" type="submit">Login</button>
                </form>
            </div>
        <% } else if (z == 3) { %> 
            <h1 class="text-3xl font-bold text-black mt-10 mb-10">Training and placement cell IIT Patna</h1>
            <div class="login-container">
                <h2 class="text-2xl">Alumni Login</h2>
                <form action="/alumni_login" method="POST">
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button class="glow-on-hover" type="submit">Login</button>
                </form>
             <!--   <a href="/alumni_form" >Register</a>    -->
            </div>
        <% } else if (z == 4) { %> 
            <h1 class="text-3xl font-bold text-black mt-10 mb-10">Training and placement cell IIT Patna</h1>
            <div class="login-container">
                <h2 class="text-2xl">Admin Login</h2>
                <form action="/admin_login" method="POST">                   
                    <input type="text" id="email" name="email" placeholder="Email" required>               
                    <input type="password" id="password" name="password" placeholder="password" required>
                    <button class="glow-on-hover" type="submit">Login</button>
                </form>

            </div>
        <% } %>
    <% }else{%>
        
        <div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <!-- Inner -->
            <div id="carousel-inner" class="carousel-inner rounded-5 shadow-4-strong">
                <div class="carousel-item active">
                    <img src="assets/admin-block.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                    <img src="assets/helipad.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                    <img src="assets/droneview1.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                    <img src="assets/droneview2.png" class="d-block w-100" alt="Image 4">
                </div>
                <div class="carousel-item">
                    <img src="assets/plane.png" class="d-block w-100" alt="Image 5">
                </div>
                <div class="carousel-item">
                    <img src="assets/iitpname.jpg" class="d-block w-100" alt="Image 6">
                </div>
                <div class="carousel-item">
                    <img src="assets/ic.png" class="d-block w-100" alt="Image 7">
                </div>
            </div>
        
            <!-- Controls -->
            <button id="prev-btn" class="carousel-control-prev" type="button" data-bs-target="#carouselMaterialStyle"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="next-btn" class="carousel-control-next" type="button" data-bs-target="#carouselMaterialStyle"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        <!-- Bootstrap JS (required for carousel functionality) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <%}%>


</body>
</html>