<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement portal</title>
    <link rel="stylesheet" href="/styles/home.css">

    <!-- old navbar ajax link
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBrwkuniCAWPapvRKlKlU7wDq4ecsVvB4LBQ&s">

    <!-- Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


</head>
<body>
    
    <!--New Nav bar-->
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-full px-0 sm:px-0 lg:px-0"> <!-- Adjusted here -->
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="h-8 w-auto" src="assets/iitp-logo.png" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <a href="/student" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Students</a>
                  <a href="/company" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Company</a>
                  <a href="/alumni" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Alumni</a>
                  <a href="/admin" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Admin</a>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="/student" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Students</a>
            <a href="/company" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Company</a>
            <a href="/alumni" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Alumni</a>
            <a href="/admin" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Admin</a>
          </div>
        </div>
      </nav>
      
      <!-- Script for mobile menu -->
      <script>
        const menuButton = document.querySelector('[aria-controls="mobile-menu"]');
        const mobileMenu = document.getElementById('mobile-menu');
      
        menuButton.addEventListener('click', () => {
          const expanded = menuButton.getAttribute('aria-expanded') === 'true' || false;
          menuButton.setAttribute('aria-expanded', !expanded);
          mobileMenu.classList.toggle('hidden');
        });
      </script>
      




    <!--Old nav bar-->
    
    <!--<div class="topnav" id="myTopnav">
        <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBrwkuniCAWPapvRKlKlU7wDq4ecsVvB4LBQ&s">
        <a href="/student">Students</a>
        <a href="/company">Company</a>
        <a href="/alumni">Alumni</a>
        <a href="/admin">Admin</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      
      <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
      </script>
    -->



    <h1 class="text-4xl font-bold text-black mt-8">Training and placement cell IIT Patna</h1>
    <% if (locals.z) { %>
        <% if (z == 1) { %> 
            <div class="login-container">
                <h2>Student Login</h2>
                <form action="/student_login" method="POST">  
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button type="submit">Login</button>
                </form>
            </div>
        <% } else if (z == 2) { %> 
            <div class="login-container">
                <h2>Company Login</h2>
                <form action="/company_login" method="POST">
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button type="submit">Login</button>
                </form>
            </div>
        <% } else if (z == 3) { %> 
            <div class="login-container">
                <h2>Alumni Login</h2>
                <form action="/alumni_login" method="POST">
                    <input type="text" id="email" name="email" placeholder="Email" required>                   
                    <input type="password" id="password" name="password" placeholder="password" required>     
                    <button type="submit">Login</button>
                </form>
                <a href="/alumni_form" >register</a>
            </div>
        <% } else if (z == 4) { %> 
            <div class="login-container">
                <h2>Admin Login</h2>
                <form action="/admin_login" method="POST">                   
                    <input type="text" id="email" name="email" placeholder="Email" required>               
                    <input type="password" id="password" name="password" placeholder="password" required>
                    <button type="submit">Login</button>
                </form>
                <!-- <a href="/admin_form">register</a> -->
            </div>
        <% } %>
    <% }else{%>
        <img class="main" src="assets/img.jpg" alt="image of iit patna" >
    <%}%>


</body>
</html>