<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>fill the following form</h1>
         
        <%if(locals.err){%>
            <p><%= err %></p>
        <%}%>
        <form action="/submit_student_form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" maxlength="100" required>
            <br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" maxlength="100" required>
            <br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" maxlength="100" required>
            <br><br>
            
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
            <br><br>
            
            <label for="mobile">Mobile:</label>
            <input type="text" id="mobile" name="mobile" pattern="\d{10}" required>
            <br><br>
            
            <label for="specialisation">Specialisation:</label>
            <input type="text" id="specialisation" name="specialisation" maxlength="100" required>
            <br><br>
            
            <label for="semester">Semester:</label>
            <input type="number" id="semester" name="semester" required>
            <br><br>
            
            <label for="percentage10">10th Percentage:</label>
            <input type="number" step="0.01" id="percentage10" name="percentage10" required>
            <br><br>
            
            <label for="percentage12">12th Percentage:</label>
            <input type="number" step="0.01" id="percentage12" name="percentage12" required>
            <br><br>
            
            <label for="CPI">CPI:</label>
            <input type="number" step="0.01" id="CPI" name="CPI" required>
            <br><br>
            
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" required>
            <br><br>
            
            <label for="placed">Placed (Yes/No):</label>
            <input type="text" id="placed" name="placed" maxlength="3" required>
            <br><br>
            
            <input type="submit" value="Submit">
        </form>
    

</body>
</html>