/* Login container styling */



#iitp-logo{
  border-radius:50%;
}

.login-container {
    max-width: 380px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: center;
    border-radius:7px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 45px;
    text-align: center;
}

.login-container button {
    background-color: rgb(52, 122, 252);
    color: white;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 45px;
}

.login-container a {
    background-color: #4CAF50;
    color: white;
    width: 30%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.login-container button:hover {
    background-color: rgb(43, 96, 195);
}
.login-container a:hover {
    background-color: #389d3c;
}

.login-container a {
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    display: inline-block;
}

.login-container a:hover {
    text-decoration: underline;
    text-decoration: none;
}

.main{
    display: block;
    margin: auto;
    height: 500px;
}

@media screen and (max-width: 600px) {
  .main{
    height:200px;
  }
}

.logo{
    height:40px;
    border-radius:50%;
}
h1{
    margin:30px;
    text-align:center;
    font-family: "Noto Serif Old Uyghur", serif;
      font-weight: 1000px;
    
    
}
h2{
    margin-top:1px;
    margin-bottom:1px;
}




#carouselMaterialStyle{
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 768px){
    #carouselMaterialStyle{
        width: 95%;
        display: block;
        margin: auto;
        margin-top: 50px;
        height:800px;
      }
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Adding background video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Ensure proper scaling for mobile */
@media (max-width: 768px) {
    .video-background {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
